
aiohttp
async-timeout    
attrs
certifi     
cffi
chardet
charset-normalizer
discord.py
idna
multidict
py-cord
pycparser
PyNaCl
python-dotenv
requests
six
typing_extensions
urllib3
yarl
youtube-dl
pycord
ffmpeg

